
Experiment_trainsmall/picklefiles/eal_test.pkl
Experiment_trainsmall/picklefiles/eal_trainsmall.pkl
Experiment_trainsmall/picklefiles/baselinedataset_trainsmall.pkl
Experiment_trainsmall/picklefiles/baselinedataset_test.pkl
