
Experiment_trainsmall/picklefiles/eal_test.pkl
Experiment_trainsmall/picklefiles/eal_trainsmall.pkl
Experiment_trainsmall/picklefiles/baselinedataset_trainsmall.pkl
Experiment_trainsmall/picklefiles/baselinedataset_test.pkl
Experiment_trainsmall/Sentence/picklefiles/eal_trainsmall.pkl
Experiment_trainsmall/Sentence/picklefiles/eal_test.pkl
Experiment_trainsmall/Paragraph/picklefiles/eal_test.pkl
Experiment_trainsmall/Paragraph/picklefiles/eal_trainsmall.pkl
Experiment_trainsmall/Paragraph/picklefiles/baselinedataset_trainsmall.pkl
Experiment_trainsmall/Paragraph/picklefiles/baselinedataset_test.pkl
Experiment_trainsmall/Sentence/prep_baselinedataset_test.ipynb
Experiment_trainsmall/Sentence/picklefiles/baselinedataset_test.pkl
Experiment_trainsmall/Sentence/picklefiles/baselinedataset_trainsmall.pkl
Experiment_trainsmall_gnn/Sentence/picklefiles/associated_entemb_gnn_trainsmall.pkl
Experiment_trainsmall_gnn/Sentence/picklefiles/associated_entemb_dict_gnn_trainsmall.pkl
Experiment_trainsmall_gnn/Sentence/picklefiles/aspembdict_sent_gnn_trainsmall.pkl
Experiment_trainsmall_gnn/Sentence/picklefiles/associated_aspent_emb_dict_gnn_trainsmall.pkl
Experiment_trainsmall_gnn/Sentence/picklefiles/eal_gnn_test.pkl
Experiment_trainsmall_gnn/Sentence/picklefiles/eal_gnn_trainsmall.pkl
